body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-color: #0F0F0F;
}

canvas {
  width: 96vw;
}

@media (min-aspect-ratio: 16/9) {
  canvas {
    width: initial;
    height: 96vh;
  }
}